/*  Heel het figure-element aan de rechterkant zetten en bij elkaar houden.
    de float zorgt ervoor dat hij rechts komt te staan en dat tekst er omheen kan wrappen.
    de display en flex-flow zorgen dat het element in de container (de image & tekst) bij elkaar blijven, en dezen samen geresized worden. */
.overons-figure {
    display: flex;
    flex-flow: column;
    float: right;
    max-width: 33%;
    width: 200px;
    height: auto;
    font-size: 0.7em;
    border: 1px solid grey;
}

.overons-container {
    margin-left: 20px;
}