body {
    background-color:rgb(17, 15, 18);
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

  p {
    color: rgb(220, 220, 220);
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 0px;
    font-size: 22px;
  }

