.comment {
    background-color: red;
    background-color: rgb(0, 255, 106);
    background-color: rgb(255, 157, 0);

    background-color: rgb(168, 38, 80);
    background-color: rgb(21, 185, 141);
    background-color: rgb(168, 129, 80);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    font-family: sans-serif;
    height: 100vh;
    background-color: rgb(55, 98, 207);
    color: whitesmoke;
    flex-direction: column;
    user-select: none;
}


.margin-box {
    position: relative;
    background-color: rgb(119, 117, 141);
    background-color: rgb(168, 129, 80);
    padding: 1.5em;
    /* border: 2px solid rgba(255, 157, 0, 0.4); */
    margin-bottom: 1rem;

}

.border-box {
    position: relative;
    background-color: rgb(39, 145, 177);
    background-color: rgb(21, 185, 141);
    padding: 1.5em;
    /* border: 2px solid rgba(0, 255, 106, 0.3); */

}

.padding-box {
    position: relative;
    /* background-color: rgb(125, 64, 135); */
    background-color: rgb(168, 38, 80);
    /* border: 3px rgba(255, 0, 0, 0.3) solid; */
    padding: 1.5em;

}

.content-box {
    position: relative;
    width: 10.3rem;
    height: 7.3rem;
    background-color: rgb(55, 98, 207);
    /* background-color: hsl(223, 61%, 51%); */
    background-color: rgb(19, 19, 19);
    /* border: 2px solid rgba(255, 255, 255, 0.099); */
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.6);
}

.overlay-box {
    position: absolute;
    width: 10.3em;
    height: 1.6em;
    /* border: 1px solid #73AD21; */
    text-align: center;
    opacity: 75%;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.698);
}



.overlay-box-padding {
    top: 0.0rem;
}

.overlay-box-border {
    top: 0rem;
}

.overlay-box-margin {
    top: 0rem;
}

.overlay-box-content {
    top: 0rem;
    line-height: 6.8rem;
}


p {
    font-size: 9.8em;
    padding-top: 0.01em;
    padding-left: 0.005em;
}

.content-box p {
    color: rgb(19, 19, 19);
    /* color: rgb(55, 98, 207); */
}

.stats-box {
    background-color: rgba(0, 0, 0, 0.093);
    width: 22rem;
    justify-content: space-between;
    padding: 0.6rem 1.4rem;
    margin-top: auto;
    display: none;
}

.slider-box {
    width: 22rem;;
    background-color: rgba(0, 0, 0, 0.093);
    text-align: center;
    padding: 0.4em 0;
    margin-bottom: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.065);
}

.stats {
    flex-direction: column;
}

.stats p {
    font-size: inherit;
}

.stats-color div {
    padding: 0.5em;
    line-height: inherit;
    margin-bottom: 0.1rem;

}

.padding-color {
    background-color: rgb(168, 38, 80);
}

.border-color {
    background-color: rgb(21, 185, 141);
}

.margin-color {
    background-color: rgb(168, 129, 80);
}

/* .slidecontainer {
    width: 100%;
} */

.flexcol {
    flex-direction: column;
}

.log {
    height: 3rem;
    width: 12rem;
    background-color: rgba(0, 0, 0, 0.185);
    text-align: center;
    line-height: 3rem;
}


label {
    border: 1px solid rgba(255, 255, 255, 0.065);
}










.slidecontainer {
    width: 100%;
    
}

.slider {
    /* Override default CSS styles */
    -webkit-appearance: none;
    appearance: none;
    width: 20.5rem;
    outline: none;
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

.sl-padding {
    margin-top: 0.25rem;
}

.sl-padding input {
    background: rgba(255, 0, 0, 0.82);

}

.sl-border input {
    background: rgba(0, 255, 106, 0.823);
}

.sl-margin input {
    background: rgba(255, 157, 0, 0.819);
}

/* slider handle */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 32px;
    background: #ffffff;
    cursor: pointer;

}

.sl-padding:hover+.padding-box {
    background-color: rgb(0, 255, 136);
}

#padding {
    width: 5rem;
}

h1 {
    text-align: center;
    margin-bottom: auto;
    /* margin-top: 0.5rem; */
    text-shadow: rgba(2, 6, 16, 0.339) 2.3px 2.63px 0px;
    padding: 1em;
}

#maBody {
    padding: 1.15rem 0.3em 1.50rem 0.3em;
    filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.297));
}




.checkboxes {
    background-color: rgba(0, 0, 0, 0.093);
    width: 22rem;
    text-align: center;
    justify-content: space-between;
    /* padding-inline: 1em; */
    margin-top: auto;
}
.checkboxes > div {
    width: 22rem;
}

.checkbox {
    width: 22rem;
    padding-block: 0.2rem;
}
label {
    display: inline-block;
}


.checkbox:hover {
    background-color: rgba(255, 255, 255, 0.152);

}